@model IEnumerable<Airbnb_PWEB.Models.Evaluation>

<h1>Lista de Comentários da Propriedade</h1>

<table class="table">
       <thead>
           <tr>
               <th>
                   Nome do Utilizador
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Classification)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Comment)
               </th>
           </tr>
        </thead>
    <tbody>
        
    </tbody>
</table>