@model IEnumerable<Airbnb_PWEB.Models.Evaluation>

<h1>Lista de Comentários da Propriedade</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Classificação
            </th>
            <th>
                Comentário
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Reservation.ApplicationUser.Email
                </td>
                <td>
                    @item.Classification
                </td>
                <td>
                    @item.Comment
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}