@model IEnumerable<Airbnb_PWEB.Models.PropertyEvaluationViewModel>

<h1>Lista de Comentários da Propriedade</h1>

<table class="table">
       <thead>
           <tr>
               <th>
                  Nome
               </th>
               <th>
                  Classificação
               </th>
               <th>
                   Comentário
               </th>
           </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.EvaluationId
            </td>
            <td>
                @item.Comment.Classification
            </td>
            <td>
                @item.Comment.Comment
            </td>
        </tr>
}
    </tbody>
</table>