@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Lista de Roles</h1>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<br />
<table class="table table-bordered table-hover" id="mytable">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@role.Id">Details</a></td>
            </tr>

        }

    </tbody>


</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}

