@model IEnumerable<Airbnb_PWEB.Models.CheckItem>

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>
<form asp-action="Edit">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.IsCheck)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            
            <div> 
                <input type="checkbox" name="checkValues" value="@item.CheckItemId" /> 
            </div>
            
            </td>
        </tr>
}
    </tbody>
</table>

 <div class="form-group">
      <input type="submit" value="Save" class="btn btn-primary" />
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
