@model IEnumerable<Airbnb_PWEB.Models.CheckItem>

@{
    ViewData["Title"] = "Index";
}
<h1>CheckList Items</h1>

<div class="card shadow mb-4 col-12">
      <div class="card-header py-3">
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CheckItemId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CheckItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="CheckLists"asp-action="Index">Back to List</a>

</div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}
