@model Airbnb_PWEB.Models.Result

@{
    ViewData["Title"] = "List";
}

<h1>Resultado CheckList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Itens Checked
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Itens) {
        <tr>
         <td>
           @Html.DisplayFor(modelItem => item.Name)
         </td>
        </tr>
      
}       
    </tbody>
</table>

<a asp-controller="Reservations"asp-action="Index">Back to List</a>
