@model IEnumerable<Airbnb_PWEB.Models.CheckList>

@{
    ViewData["Title"] = "Index";
}

<h1>CheckList Categories</h1>

<p></p>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-controller="CheckItems" asp-action="Index" asp-route-id="@item.CheckListId"><img src="resources/details.svg" width="4%" alt="Detalhes" /></a>
                    <a asp-action="Delete" asp-route-id="@item.CheckListId"><img src="resources/delete.svg" width="4%" alt="Remover"></a>
                    <a asp-controller="CheckItems" asp-action="Create" asp-route-id="@item.CheckListId"><img src="resources/add.png" width="4%" alt="Add Item" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}