@model IEnumerable<Airbnb_PWEB.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1> 

<div class="card shadow mb-4 col-12">
    @if (TempData["AlertMessage"] != null) { 
    <div class="alert alert-danger">
        <strong></strong> @TempData["AlertMessage"]
    </div>
    }

    <div class="card-header py-3">
        @if (User.IsInRole("Admin"))
        {
            <p>
                <a class="btn btn-info" asp-action="Create">Add Category</a>
            </p>
        }   

 <div class="card-header py-3">
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryId"><img src="resources/edit.svg" width="3%" alt="Edit" /></a>
                    }

                    @if (User.IsInRole("Owner_Manager"))
                    {
                        <a class="btn btn-primary" asp-controller="CheckLists" asp-action="Create" asp-route-id=@item.CategoryId>New CheckList</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}