@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="card shadow mb-4 col-12">
    <div class="card-header py-3">
        <div class ="card-body">   
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>